.container__about{
    display: grid;
    grid-template-columns: 25%  70%;
    grid: 15%;
    padding: 10px;
    margin: 10px;
}

.about__me{
    /* padding: 3rem; */
    margin: 0 6rem ; 
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
    display: grid;
    place-items: center;
    
}

.about__img_me{
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
}
.about__img_me img{
    width: 100%;
}


.about__img_me:hover{
    transform: rotate(0);
    transition: var(--transition);
}

.about__content{
    margin-left: 23%;
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-varient);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    cursor: default ;
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
}

.about__icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about__card h4{
    font-size: 1rem;
}

.about__content p{
    color: var(--color-light);
    margin: 2rem 0 2.6rem;
}

#about h2{
    color: var(--color-white);
}




/* =========== media queries for Small screen */

@media screen and (max-width: 1024px) {

    .container__about{
        grid-template-columns: 1fr;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__content{
        margin-left: 0;
    }
  .about__content p{
    margin: 1rem 0 1.5rem;
  }

 .container__about{
    text-align: center;
  }
}



/* =========== media queries for Small screen */

@media screen and (max-width: 600px) {

    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__content{
        text-align: center;
    }
    .about__content p{
        margin: 1.5rem 0;
      }
    }