.contactContainer{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contactOptions{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactItem{
    background: var(--color-bg-varient);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}


.contactIcons{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contactItem a{
    color: var(--color-light);
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;    
}

.contactItem:hover{
    background: transparent;
    border: 2px solid var(--color-primary);
}



/* ======== FORM ======== */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.2rem;
    font-size: 14px;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white);
}




/* =========== media queries for Small screen */

@media screen and (max-width: 1024px) {
     .contactContainer{
        grid-template-columns: 1fr;
        gap: 2rem;
     }
}



/* =========== media queries for Small screen */

@media screen and (max-width: 600px) {
     .contactContainer{
        width: var(--container-width-sm);
     }
}
