nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    position: fixed;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    bottom: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur 15px;
}

nav a{
    background: transparent;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    padding: 0.7rem;
    color: var(--color-light);
}
nav a:hover{
    background: rgba(0, 0, 0, 0.5);
}
nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}